.fadein
{
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
  background-color: rgba(0,0,0, 0);
}

.fadeout
{
  opacity: 0;
  -webkit-transition: opacity 2s ease-out;
  background-color: rgba(0,0,0, 0);
}

.dezaag_logo
{
  background: blue;
  padding: 8px;
  margin: 0;
}
.dezaag_logo p
{
  font: 48px arial, sans-serif, "Source Sans", helvetica;
  font-weight: bold;
  color: white;
  width: 100%;
  text-align: right;
  margin: 0;
}

.ui-icon-library:after {
	background-image: url(../images/icons-png/library-white.png);
}
.ui-alt-icon.ui-icon-library:after,
.ui-alt-icon .ui-icon-library:after {
	background-image: url(../images/icons-png/library-black.png);
}


@media only screen and (orientation: landscape)
{
  img.horizontal {max-height:100%;}
  img.vertical {display:none;}

  #debugmessages {height: 10ex !important;}
}

@media only screen and (orientation: portrait)
{
  img.vertical {max-width:100%;}
  img.horizontal {display:none;}

  #debugmessages {height: 20ex !important;}
}

#debugmessages {max-height: 25vh !important;}


#weight
{
  width: 100%;
  text-align:center;
  padding: 0;
  margin: 0;
}
#weightdisplay
{
  font: 50px arial, sans-serif, helvetica;
  font-weight: bold;
  padding: 16px;
  display: none;
  //valign: middle;
}
#content table
{
  width: 100%;
  border-spacing: 0;
}
#content td
{
  font: 10px;
}
#content td#ind_red
{
  background: darkred;
}
#content td#ind_yellow
{
  background: chocolate;
}
#content td#ind_green
{
  background: darkgreen;
}


#debug-data th, #debug-data td {
  vertical-align:middle;
  padding-top:0.1em;
  padding-right:0.2em;
  padding-left:0.2em;
}

td {padding: 0;}
div#header td .ui-btn {margin-top: 0; margin-bottom: 0;}

.controlgroup-textinput
{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls
{
  display: inherit;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls > .ui-btn
{
  float: inherit;
}

/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
  text-indent: -5.9em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
  text-indent: 0.5em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch {
  width: 8.875em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
  padding-left: 7em;
  width: 1.875em;
}
@media (min-width: 28em) {
  /*Repeated from rule .ui-flipswitch above*/
  .ui-field-contain > label + .custom-size-flipswitch.ui-flipswitch {
    width: 1.875em;
  }
}