<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.whitebream.eccb" 
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    version="0.1.20">

    <name>Electronic Copyboard</name>
    
    <description>
        Content editing tool for ECCB display system.
    </description>
    
    <author email="support@whitebream.com" href="https://whitebream.nl/eccb">
        Henk Bliek, White Bream
    </author>
    
	<!--plugin name="cordova-plugin-crosswalk-webview" /-->
	<plugin name="cordova-plugin-file" />
	<plugin name="phonegap-plugin-barcodescanner" />
	<plugin name="cordova-plugin-app-version" />
	<plugin name="cordova-plugin-ble-central" />
	<plugin name="cordova.plugins.diagnostic" />

    <icon src="img/etulipa_CMYK.png" width="150" height="150" />

    <feature name="http://api.phonegap.com/1.0/device" />
	<preference name='phonegap-version' value='cli-9.0.0' />
	<preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <access origin="*" />

	<!--preference name="permissions" value="none" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/location" />
    <feature name="http://api.phonegap.com/1.0/bluetooth" /-->

	<!--config-file target="AndroidManifest.xml" parent="/*" mode="merge">
		<uses-permission android:name="android.permission.CAMERA" />
		<uses-feature android:name="android.hardware.camera" />
		<uses-feature android:name="android.hardware.camera.autofocus" />
	</config-file-->
	
	<platform name="android">
		<icon density="ldpi" src="img/etulipa_CMYK.png" />
        <icon density="mdpi" src="img/etulipa_CMYK.png" />
        <icon density="hdpi" src="img/etulipa_CMYK.png" />
        <icon density="xhdpi" src="img/etulipa_CMYK.png" />
        <icon density="xxhdpi" src="img/etulipa_CMYK.png" />
        <icon density="xxxhdpi" src="img/etulipa_CMYK.png" />
	</platform>
	
	<platform name="ios">
		<icon src="img/etulipa_CMYK.png" />
	</platform>
	
</widget>
